.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  text-align: center;
  padding: 20px 0;
}

.slider-container {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.slider > img {
  height: 100%;
  width: 100%;
}

.slider.active {
  opacity: 1;
}
